<!-- form.html -->
<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Election Council</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="close()" class="close">X</a></li>
        </ul>
    </div><!--/.container-fluid -->
</nav>

<div class="candidates-container container">
    <!-- The name of the state -->
    <div class="row state-name text-center">
        <h3>Admin Dashboard</h3>
    </div>

    <!-- No Preference -->
    <div class="result-container">
        <h3>No Preference</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Position</th>
                    <th>No Preferences</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>President</td>
                    <td>{{presidentNoPreference}}</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Games</td>
                    <td>{{gamesNoPreference}}</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Cultural</td>
                    <td>{{culturalNoPreference}}</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Science</td>
                    <td>{{scienceNoPreference}}</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>Films</td>
                    <td>{{filmsNoPreference}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- President -->
    <div class="result-container">
        <h3>President</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>1st Preference</th>
                    <th>2nd Preference</th>
                    <th>3rd Preference</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="gensec in gensecs | filter:{ position: 'president'}">
                    <td>{{$index + 1}}</td>
                    <td>{{gensec.name}}</td>
                    <td>{{getVotes(gensec.id, 1)}}</td>
                    <td>{{getVotes(gensec.id, 2)}}</td>
                    <td>{{getVotes(gensec.id, 3)}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="result-container">
        <h3>GenSec, GnS Council</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>1st Preference</th>
                    <th>2nd Preference</th>
                    <th>3rd Preference</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="gensec in gensecs | filter:{ position: 'games'}">
                    <td>{{$index + 1}}</td>
                    <td>{{gensec.name}}</td>
                    <td>{{getVotes(gensec.id, 1)}}</td>
                    <td>{{getVotes(gensec.id, 2)}}</td>
                    <td>{{getVotes(gensec.id, 3)}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="result-container">
        <h3>GenSec, Cult Council</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>1st Preference</th>
                    <th>2nd Preference</th>
                    <th>3rd Preference</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="gensec in gensecs | filter:{ position: 'cultural'}">
                    <td>{{$index + 1}}</td>
                    <td>{{gensec.name}}</td>
                    <td>{{getVotes(gensec.id, 1)}}</td>
                    <td>{{getVotes(gensec.id, 2)}}</td>
                    <td>{{getVotes(gensec.id, 3)}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="result-container">
        <h3>GenSec, SnT Council</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>1st Preference</th>
                    <th>2nd Preference</th>
                    <th>3rd Preference</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="gensec in gensecs | filter:{ position: 'science'}">
                    <td>{{$index + 1}}</td>
                    <td>{{gensec.name}}</td>
                    <td>{{getVotes(gensec.id, 1)}}</td>
                    <td>{{getVotes(gensec.id, 2)}}</td>
                    <td>{{getVotes(gensec.id, 3)}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="result-container">
        <h3>GenSec, FMC Council</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>1st Preference</th>
                    <th>2nd Preference</th>
                    <th>3rd Preference</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="gensec in gensecs | filter:{ position: 'films'}">
                    <td>{{$index + 1}}</td>
                    <td>{{gensec.name}}</td>
                    <td>{{getVotes(gensec.id, 1)}}</td>
                    <td>{{getVotes(gensec.id, 2)}}</td>
                    <td>{{getVotes(gensec.id, 3)}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <button class="btn btn-warning" type="button" ng-click="clearVoteCount()">
                Clear Vote Count
                <span class="glyphicon glyphicon-circle-arrow-right" ></span>
            </button>
        </div>

        <div class="col-md-4 text-center">
            <button class="btn btn-warning" type="button" ng-click="clear()">
                Clear Votes
                <span class="glyphicon glyphicon-circle-arrow-right" ></span>
            </button>
        </div>

        <div class="col-md-4 text-center">
            <button class="btn btn-danger" type="button" ng-click="exit()">
                Exit
                <span class="glyphicon glyphicon-circle-arrow-right" ></span>
            </button>
        </div>
    </div>

    <!-- Footer which shows the step number -->
    <div class="footer navbar-fixed-bottom login-footer text-center">
    </div>
</div>
