<form ng-submit="processBatchSubmit()">
    <div class="text-center">
        <div class="form-group">
            <div class="radio">
                <div ng-repeat="batch in batches">
                    <label> <input type="radio" ng-model="formData.batch" value="{{batch}}" checked>{{batch}}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-info" type="submit">
            Next Section
            <span class="glyphicon glyphicon-circle-arrow-right" ></span>
        </button>
    </div>
</form>
