<!-- form.html -->
<div class="row">
    <div class="col-md-12">
        <div class="form-container">
            <!-- Breadcrumbs to indicate the current form -->
            <div class="state-code text-center">
                <a ng-repeat="a in range(totalStates) track by $index" ng-class="{active: stateCode == $index + 1}">
                    <span>{{$index + 1}}</span>
                </a>
            </div>

            <div class="state-name text-center"> {{stateName}} </div>

            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form id="elections-form" ng-submit="processForm()">
                <!-- our nested state views will be injected here -->
                <div id="form-views" ui-view></div>
            </form>
        </div>
    </div>
</div>
