<form ng-submit="processGamesSubmit()">
    <div class="row">
        <div class="col-sm-4 candidate-cell text-center" ng-repeat="candidate in gamesList">
            <img src="{{candidate.image}}">
            <p>{{candidate.name}}</p>
            <div class="col-sm-offset-4 text-left">
                <p>
                    <input type="radio" name="candidate-first" ng-model="formData.gamesFirst" value="{{candidate.id}}">
                    First Preference
                </p>
                <p ng-show="presidentList.length >=2">
                    <input type="radio" name="candidate-second" ng-model="formData.gamesSecond" value="{{candidate.id}}">
                    Second Preference
                </p>
                <p ng-show="presidentList.length >= 3">
                    <input type="radio" name="candidate-third" ng-model="formData.gamesThird" value="{{candidate.id}}">
                    Third Preference
                </p>
            </div>
        </div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-info" type="submit">
            Cast Vote
            <span class="glyphicon glyphicon-circle-arrow-right" ></span>
        </button>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-danger" type="button" ng-click="processNoPreference()">
            No Preference
            <span class="glyphicon glyphicon-circle-arrow-right" ></span>
        </button>
    </div>
</form>
