<form ng-submit="processSubmit()">
    <div class="row">
        <div class="candidate-cell text-center" ng-repeat="candidate in candidateList" ng-class="candidateClass">
            <img class="candidate-image" src="{{candidate.image}}">
            <h3>{{candidate.name}}</h3>
            <div>
                <p>
                    <input type="radio" name="candidate-first" ng-model="formData.presidentFirst" value="{{candidate.id}}">
                    1st Preference
                </p>
                <p ng-show="candidateList.length > 2">
                    <input type="radio" name="candidate-second" ng-model="formData.presidentSecond" value="{{candidate.id}}">
                    2nd Preference
                </p>
                <p ng-show="candidateList.length > 3">
                    <input type="radio" name="candidate-third" ng-model="formData.presidentThird" value="{{candidate.id}}">
                    3rd Preference
                </p>
            </div>
        </div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-info" type="submit">
            Cast Vote
            <span class="glyphicon glyphicon-circle-arrow-right" ></span>
        </button>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-danger" type="button" ng-click="processNoPreference()">
            No Preference
            <span class="glyphicon glyphicon-circle-arrow-right" ></span>
        </button>
    </div>
</form>
