<!-- form.html -->
<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Election Council</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="open()" class="close">X</a></li>
        </ul>
    </div><!--/.container-fluid -->
</nav>

<div class="container">
    <!-- The name of the state -->
    <div class="row state-name text-center">
        <h3>{{stateName}}</h3>
    </div>

    <!-- MAIN VIEW with different forms -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-container">
                <!-- our nested state views will be injected here -->
                <div id="form-views" ui-view></div>
            </div>
        </div>
    </div>

    <!-- Footer which shows the step number -->
    <div class="footer navbar-fixed-bottom state-code text-center">
        <a ng-repeat="a in range(totalStates) track by $index" ng-class="{active: stateCode == $index + 1}">
            <span>{{$index + 1}}</span>
        </a>
    </div>
</div>

<script type="text/ng-template" id="partials/errorModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{error.name}}</h3>
    </div>

    <div class="container modal-body">
        <div class="row">
            {{error.msg}}
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="dismiss()">OK</button>
    </div>
</script>
