### Node
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules

### Bower
lib/

### Node-webkit
app.nw

assets/*
!assets/candidate.jpg
!assets/vote.jpg
!assets/logo.png
