/* style.css */
/* BASIC STYLINGS
============================================================================= */
body
{
    font-size: 15px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* numbered buttons */
.state-name{
    text-transform:uppercase;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.state-code {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 15px;
}

.state-code a
{
    color:black;
    display:inline-block;
    text-align:center;
    padding-right: 3px;
}

.state-code a:hover
{
    text-decoration:none;
}

/* we will style the span as the circled number */
.state-code span
{
    background:white;
    display:block;
    height:30px;
    margin:0 auto 0;
    padding-top: 5px;
    width:30px;
    border-radius:50%;
}

/* active buttons turn light green-blue*/
.state-code a.active span
{
    background:#00BC8C;
}

.login-banner {
    padding-top: 40px;
    margin-top: 50px;
}

.login-form {
    border: 1px solid lightgray;
    margin-top: 40px;
    padding: 30px 5px;
    border-radius: 5px;
}

.close {
    font-size: 17px;
}

.footer {
    background: white;
}

.candidates-container {
    margin-bottom: 120px;
}

.candidate-cell {
    padding: 10px 0;
}

.submit-selection {
    margin-top: 30px;
}

.modal-body {
    margin-left: 10px;
}
